body{
    background-image: url(LandingHome.jpg);   
}
h1{
    text-align: center;
}
div2{
display: flex;
justify-content: space-around;
border-style: groove;
border-color: brown;
margin-bottom: 20px;
align-items: center;
height: 150px;
}
div2 p{
margin-right: 200px;
width: 100px;    
}
div2 button{
height: 30px;
width: 50px;
background-color: red;
}
div4 button{
    height: 30px;
    width: 50px;
    background-color: green;    
}
div2 img{
height:100px;
width:150px;
margin-right: 200px;    
}
