.checkoutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

h1.checkout {
    text-align: center;
    margin-top: 2%;
}

.formWrapper,
.productsWrapper {
    width: 100%;
    max-width: 500px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 5%;
}


/* input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
}

.productItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.productItem img.icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.productDetails {
    flex-grow: 1;
}

.totalAmount {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 20px;
}

.checkoutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.formWrapper,
.productsWrapper {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1 1 300px;
}

@media (max-width: 860px) {}